.ipynb_checkpoints
.vscode
checkpoints/*
data/*
hf_home
md2d/__pycache__
md2d/.ipynb_checkpoints
retrieval_data/*
md2d/splade/weights/*
md2d/splade/training_with_sentence_transformers/output/*
**/slurm-*.out
**/__pycache__
**/*logs
cache/*
splade/*
trial/hsln/__pycache__
trial/hsln/.ipynb_checkpoints
trial/hsln/datasets/*
trial/hsln/results/*
trial/*.pkl
trial/*.npy
trial/2023-03-30_16-38-52/
trial/output/
trial/dpr_output/
trial/multidoc2dial.zip
trial/multidoc2dial/
*.pth   
*.pkl
*.npy
*.zip
*.csv
*.log
*.out
*.txt
*.json
*.yaml
*.yml
*.bin
trial/dpr_divided_code/output
trial/dpr_divided_code/dpr_enhanced/longformer_models
trial/dpr_divided_code/dpr_enhanced/valid
trial/dpr_divided_code/dpr_enhanced/zhang/Zhang